<div>
    <div nz-row>
        <div nz-col nzFlex="2">
            <nz-card nzType="inner" style="margin-top: 16px;" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <div style="text-align: center;">Cập nhật thu nhập</div>
                </ng-template>
                <form nz-form [formGroup]="incomeForm" class="custom-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the title!">
                            <input type="text" nz-input formControlName="title" placeholder="Loại tiền" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the amount!">
                            <input type="text" nz-input formControlName="amount" placeholder="Mức tiền" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="dateErrorTpl">
                            <nz-date-picker 
                                style="width: 100%;" 
                                formControlName="date"
                                (ngModelChange)="onDateChange($event)"
                                [nzDisabledDate]="disabledDate"
                            ></nz-date-picker>
                            <ng-template #dateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Vui lòng chọn ngày!</ng-container>
                                <ng-container *ngIf="control.hasError('futureDate')">Không thể chọn ngày trong tương lai!</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <textarea nz-input placeholder="Mô tả" [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                                formControlName="description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the category!">
                            <nz-select nzAllowClear nzPlaceHolder="Select the category" formControlName="category" style="text-align: center;">
                                <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category" [nzValue]="category">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button nzType="primary" nzBlock [disabled]="incomeForm.invalid" class="w-100">
                        Thêm thu nhập
                    </button>
                </form>
            </nz-card>
        </div>
    </div>
</div>
