<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxU0zwqPURKSeF0j5oEhaEq1L8bMedgWXQpA&s" 
      alt="Avatar" class="avatar">
      <div class="user-info">
        <strong>Trang chủ</strong>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="Thu nhập" nzIcon="fund">
        <ul>
          <li nz-menu-item routerLink="/income">
            <span nz-icon nzType="plus-circle"></span>
            <span>Thêm thu nhập</span>
          </li>
          <li nz-menu-item routerLink="/income-list">
            <span nz-icon nzType="ordered-list"></span>
            <span>Danh sách thu nhập</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Chi phí" nzIcon="fall">
        <ul>
          <li nz-menu-item routerLink="/expense">
            <span nz-icon nzType="plus-circle"></span>
            <span>Thêm chi phí</span>
          </li>
          <li nz-menu-item routerLink="/expense-list">
            <span nz-icon nzType="ordered-list"></span>
            <span>Danh sách chi phí</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-contents">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
